$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

.form-control-editable {height: auto; min-height: 34px; max-height: 120px; overflow-y: auto;}
.form-control-editable img {max-height: 105px;}
.messages {height: 300px; overflow: auto; resize: vertical;}
.messages dt {resize: none;}
.messages dd * {word-wrap: break-word;}
.messages dd img {max-width: 98%; height: auto; display: block;}