 <div>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">InstantChat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=39EEE83QU5KAW" target="_blank">Donate</a></li>
            <li><a href="http://imphan.com" target="_blank">About</a></li>
            <li><a href="https://github.com/pltchuong/InstantChat" target="_blank">Source Code</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container" id="main">
    <div class="row">
      <div>
        <div class="col-md-9 col-md-push-3">
          {{outlet}}
        </div>
        <div class="col-md-3 col-md-pull-9">
          <div class="well">
            <h2>Some heading</h2>
            <p>Donec tristique, enim id euismod condimentum, velit eros convallis metus, ut dignissim metus diam vitae nisi. Nunc nisi enim, consectetur et rhoncus vitae, consectetur ut augue. Vestibulum erat sem, bibendum ut felis consequat, rhoncus luctus mi. Duis ultricies felis urna, condimentum ultricies urna porttitor vel? Sed eu est ut ligula aliquet ornare. Maecenas ut mi sit amet leo aliquet fringilla. Integer at turpis dignissim, ultricies justo ut; egestas libero. Aliquam ut ipsum non elit sollicitudin accumsan a ut velit. Sed accumsan quam eu varius tincidunt. Maecenas volutpat, tortor non sollicitudin faucibus, dolor augue auctor odio, iaculis ultricies sapien tortor nec diam. Phasellus eu malesuada nisi. Nullam auctor sapien ligula, ut semper elit viverra in?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
